@model IEnumerable<AxaFailProof.Models.Location>

@{
    ViewBag.Title = "Location";
}
<div class="panel-header">
    <h3>Location</h3>
</div>
<div class="panel-body">
<div><input type="button" class="btn-submit panel-button-right" value="Create New" onclick="location.href='@Url.Action("Create")';" /></div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            Event Title
        </th>
        <th>
            Location
        </th>
        <th>
            Event Date
        </th>
        <th>
            Event Time
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var image = "";
    if (item.Status==true)
    {
        image = "~/Areas/Admin/Content/images/accept.png";
    }
    else
    {
        image = "~/Areas/Admin/Content/images/cross.png";
    }    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTime)
        </td>
            <td width="28%" align="right" height="25" style="padding-left:5px;" nowrap="nowrap">
            &nbsp;<a href="@Url.Action("Edit", "Location", new { id = item.LocationID })"><img src="@Url.Content("~/Areas/Admin/Content/images/page_edit.png")" title="Edit" alt"Edit" width="16" height="16" align="absmiddle" border="0"/></a> 
            &nbsp;<a onclick="deleteme('@Url.Action("DeleteConfirmed", "Location", new { id = item.LocationID })')" style="cursor:pointer;"><img src="@Url.Content("~/Areas/Admin/Content/images/delete.png")" width="16" title="Delete" alt="Delete" height="16" align="absmiddle" border="0"/></a> 
            &nbsp;<a href="@Url.Action("Status", "Location", new { id = item.LocationID })"><img src="@Url.Content(@image)" width="16" title="Status" alt="Status" height="16" align="absmiddle" border="0"/></a>
            &nbsp;&nbsp; 
        </td>
    </tr>
}
</tbody>
</table>
</div>
<div class="clearboth"></div>
<div class="panel-footer"></div>