	<table cellpadding="0" cellspacing="0" width="100%"  border="0" >
         <tr>
           <td style="background-image:url(@Url.Content("~/Areas/Admin/Content/default/plum_r3_c1.jpg")); color:#FFFFFF;" width="30%">
            <div style="float:left;"><img border="0" src="@Url.Content("~/Areas/Admin/Content/default/plum_r3_c1.jpg")" width="10" height="56">
              <a href="/ticketnet-admin/Account/LogOff"><img border="0" src="@Url.Content("~/Areas/Admin/Content/default/plum_r3_c2.jpg")" width="43" height="56" align="baseline"></a></div>
            <div style="float:left; margin-top:25px;"><span class="user"><strong>User : @User.Identity.Name</strong></span></div>
           </td>
         </tr>
         <tr>
         	<td  style="background-image:url(@Url.Content("~/Areas/Admin/Content/default/plum_r4_c1.jpg"));font-size:10px; font-family:Arial, Helvetica, sans-serif; height:25px;"  colspan="2" align="right">
            <div style="margin-top:5px; margin-right:10px;"> <span class="style3">&copy; @ViewBag.Year Prime Factors Inc. All Rights Reserved</span>       </div>
           </td>
         </tr>
        </table>